@import "https://fonts.googleapis.com/css?family=Open+Sans";
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.content {
  padding: 15px;
  margin-top: 60px;
  color: #333;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: #FFF;
}
.navigation .inner-navigation {
  padding: 0;
  margin: 0;
}
.navigation .inner-navigation li {
  list-style-type: none;
}
.navigation .inner-navigation li .menu-link {
  color: #ff5252;
  line-height: 3.7em;
  padding: 20px 18px;
  text-decoration: none;
  transition: background .5s, color .5s;
}
.navigation .inner-navigation li .menu-link.menu-anchor {
  padding: 20px;
  margin: 0;
  background: #ff5252;
  color: #FFF;
}
.navigation .inner-navigation li .menu-link.has-notifications {
  background: #ff5252;
  color: #FFF;
}
.navigation .inner-navigation li .menu-link.circle {
  line-height: 3.8em;
  padding: 14px 18px;
  border-radius: 50%;
}
.navigation .inner-navigation li .menu-link.circle:hover {
  background: #ff5252;
  color: #FFF;
  
}
.navigation .inner-navigation li .menu-link.square:hover {
  background: #ff5252;
  color: #FFF;
  transition: background .5s, color .5s;
}

.dropdown-container {
  overflow-y: hidden;
}
.dropdown-container.expanded .dropdown {
  -webkit-animation: fadein .5s;
  -moz-animation: fadein .5s;
  -ms-animation: fadein .5s;
  -o-animation: fadein .5s;
  animation: fadein .5s;
  display: block;
}
.dropdown-container .dropdown {
  -webkit-animation: fadeout .5s;
  -moz-animation: fadeout .5s;
  -ms-animation: fadeout .5s;
  -o-animation: fadeout .5s;
  animation: fadeout .5s;
  display: none;
  position: absolute;
  width: 300px;
  height: auto;
  max-height: 600px;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  background: rgba(33,37,41,0.8);
  color:#FFF;
  margin-top: 3px;
  margin-right: -15px;
  border-top: 4px solid #ff5252;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-shadow: 2px 2px 15px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 15px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 15px -5px rgba(0, 0, 0, 0.75);
  /*
  &:before{
    position: absolute;
    content: ' ';
    width: 0; 
    height: 0; 
    top: -13px;
    right: 7px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid $secondary-color; 
  }
  */
}
.dropdown-container .dropdown .notification-group {
  border-bottom: 1px solid #e3e3e3;
  overflow: hidden;
  min-height: 65px;
}
.dropdown-container .dropdown .notification-group:last-child {
  border-bottom: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.dropdown-container .dropdown .notification-group .notification-tab {
  padding: 0px 25px;
  min-height: 65px;

}
.dropdown-container .dropdown .notification-group .notification-tab:hover {
  cursor: pointer;
  background: #ff5252;
 
}
.dropdown-container .dropdown .notification-group .notification-tab:hover .fa, .dropdown-container .dropdown .notification-group .notification-tab:hover h4, .dropdown-container .dropdown .notification-group .notification-tab:hover .label {
  color: #FFF;
  display: inline-block;
}
.dropdown-container .dropdown .notification-group .notification-tab:hover .label {
  background: #ff5252;
  border-color: #ff5252;
}
.dropdown-container .dropdown .notification-group .notification-list {
  padding: 0;
  overflow-y: auto;
  height: 0px;
  max-height: 250px;
  transition: height .5s;
  font-size: 80%;
}
.dropdown-container .dropdown .notification-group .notification-list .notification-list-item {
  padding: 5px 25px;
  border-bottom: 1px solid #e3e3e3;
  font-size: 80%;
}
.dropdown-container .dropdown .notification-group .notification-list .notification-list-item .message {
  margin: 5px 5px 10px;
  
}
.dropdown-container .dropdown .notification-group .notification-list .notification-list-item .item-footer a {
  color: #df0024;
  text-decoration: none;
}
.dropdown-container .dropdown .notification-group .notification-list .notification-list-item .item-footer .date {
  float: right;
}
.dropdown-container .dropdown .notification-group .notification-list .notification-list-item:nth-of-type(odd) {
  background: rgba(33,37,41,0.8);
}
.dropdown-container .dropdown .notification-group .notification-list .notification-list-item:hover {
  cursor: pointer;
}
.dropdown-container .dropdown .notification-group .notification-list .notification-list-item:last-child {
  border-bottom: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.dropdown-container .dropdown .notification-group.expanded .notification-tab {
  background: #ff5252;
}
.dropdown-container .dropdown .notification-group.expanded .notification-tab .fa, .dropdown-container .dropdown .notification-group.expanded .notification-tab h4, .dropdown-container .dropdown .notification-group.expanded .notification-tab .label {
  color: #FFF;
  display: inline-block;
}
.dropdown-container .dropdown .notification-group.expanded .notification-tab .label {
  background: #ff5252;
  border-top: #FFF;
  
}
.dropdown-container .dropdown .notification-group.expanded .notification-list {
  height: 250px;
  max-height: 250px;
  transition: height .5s;
}
.dropdown-container .dropdown .notification-group .fa, .dropdown-container .dropdown .notification-group h4, .dropdown-container .dropdown .notification-group .label {
  color: #FFF;
  display: inline-block;
  font-size:100%;
}
.dropdown-container .dropdown .notification-group .fa {
  margin-right: 5px;
  margin-top: 25px;
}
.dropdown-container .dropdown .notification-group .label {
  float: right;
  margin-top: 20px;
  color: #ff5252;
  border: 2px solid #ff5252;
  padding: 0px 7px;
  border-radius: 15px;
  font-size: 100%;
}

.right {
  float: right;
}

.left {
  float: left;
}

@media only screen and (max-width: 321px) {
  .dropdown-container .dropdown .notification-group .notification-tab h4 {
    display: none;
  }
  .dropdown-container .dropdown .notification-group .notification-tab:hover h4 {
    display: none;
  }
  .dropdown-container .dropdown .notification-group.expanded .notification-tab h4 {
    display: none;
  }
}
@media only screen and (max-width: 514px) {
  .dropdown-container .dropdown {
    width: 100%;
    margin: 0px;
    left: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-ms-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.notificacao{
	
}
